

.DIETS-DISH {
    display: flex;
    height: 50%;
    flex-direction: column;
}
.LIST-ING {
    padding-bottom: 1rem;
    list-style-type: circle;
}

.INGREDIENTS-RECIPE-EMPTY {
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    color: black;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 2px 8px #0000007f;
    min-height: 1000px;
}

.INGREDIENTS {
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
    padding-top: 65px;
    text-transform: uppercase;
}


.INGREDIENTS-CONTEINER {
    width: 20%;
}

.RECIPE-DETAILS {
    width: 65%;
    padding: 4rem;
}

.EMPTY {
    width: 15%;
}

.IMAGE-DET {
    width: 50%;
}

.DETAILS {
    display: flex;
    flex-direction: row;
}

.NAME-SCORE {
    display: flex;
    height: 50%;
    flex-direction: row;
    justify-content: space-evenly;
}

.SCORE{
    display: flex;
    flex-direction: column;
}

.NUMBER-HRT {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 8px #dd5d26;
    font-size: 3.5rem;
}
    
.NAME{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 2px 8px #ffffffbd;
}

.SHOW-RESUME {
    text-transform: none;
    text-shadow: 2px 2px 8px #ffffffbd;
}

.STEPS-WRITED {
    text-transform: none;
    text-shadow: 2px 2px 8px #ffffffbd;
    border-radius: 3px;
    overflow-wrap: anywhere;
}

.SHOW-DISH {
    display: flex;
    position: relative;
    justify-content: space-around;
}
.SPAN-DISH {
    background: #ffffff30;
}
.SHOW-DIETS{
    display: flex;
    height: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.IMAGE-DETAIL{
    max-width: 100%;
    max-height: 100%;
}

.BESIDE-IMG {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.INGREDIENTS-LIST {
    list-style-type:none;
}

