body {
  font-family: "Roboto", sans-serif;
  text-shadow: 0.5px 0.5px 0 #cccccc;
  /* background-image: url('../src/components/diet-icons/WALLPAPER.jpg'); */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
