body {
  background-image: url('https://previews.123rf.com/images/mashabr/mashabr1508/mashabr150800006/43271389-patr%C3%B3n-sin-fisuras-con-los-utensilios-de-cocina-dibujado-a-mano-en-el-papel-rayado-fondo-de-la-cocin.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
