.FORM {
    background: url('../diet-icons/CREATEWALLPAPER.jpg');
    background-size: cover;
    min-height: 1000px;
}


.form-general {
    display: flex;
    border: solid 2px;
    border-color: #dd5d26bd;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
    background-color: #ffffff7f;
    backdrop-filter: blur(4px);
}

.FORM-INPUT {
    width: 80%;
    margin-left: 1rem;
    border: none;
    border-bottom: solid 1px;
    background-color: #ffffff7f;
    backdrop-filter: blur(4px);
}

.RECIPE-ICON {
    display: flex;
    align-content: center;
    justify-content: center;
}

.ICON-RECIPE {
    position: absolute;
    right: 40%;
    bottom: 80%;
}

.FORM-RESUME {
    width: 683px;
    height: 140px;
    background-color: #ffffff7f;
    backdrop-filter: blur(4px);
    border: solid navajowhite;
    padding-left: 1rem;
    resize: none;
    box-sizing: border-box;
    padding-right: 1rem;
}

.INSTRUCTIONS {
    display: flex;
    flex-direction: row;
}
.INSTRUCTIONS-BTNS {
    display: flex;
    flex-direction: row;
}

.INPUT-STEPS{
    width: 60%;
    border-color: navajowhite;
    background-color: #ffffff7f;
    backdrop-filter: blur(4px);
}
.INPUT-INSTR{
    background-color: #ffffff7f;
    backdrop-filter: blur(4px);
    width: 70%;
}
.error {
    color: red;
    font-size: 10px;
}
  
input.danger {
    border: 2px solid red;
}

.INGREDIENTS-INSTRUCCIONS {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.FORM-INGREDIENTS {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.FORM-INSTRUCCIONS {
    width: 65%;
}

.DISABLE {
    opacity: 0.6;
    cursor: not-allowed;
}






.SUBMIT-RECIPE {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.SUBMIT-RECIPE:hover,
.SUBMIT-RECIPE:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.SUBMIT-RECIPE:hover {
  transform: translateY(-1px);
}

.SUBMIT-RECIPE:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.FORM-IMG-HS {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

.INPUT-HS {
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #ffffff7f;
    backdrop-filter: blur(4px);
}

.FORM-IMG{
    display: flex;
    flex-direction: row;
    width: 30%;
}

.DANGER {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.FORM-DIETS {
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 2px solid navajowhite;
}

.FORM-DIET-LABEL {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
}


