
.diets {
    display: flex;
    width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-general {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
.card-created {
    pointer-events: none;
}


.error {
    color: red;
    font-size: 10px;
}
  
input.danger {
    border: 2px solid red;
}

.INGREDIENTS-INSTRUCCIONS {
    display: flex;
    flex-direction: row;
}

.INGREDIENTS {
    display: flex;
    flex-direction: column;
}

.INSTRUCCIONS {
    display: flex;
    flex-direction: column;
}