

.FILTERS_AND_RECIPES {
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
}
.FILTERS {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(200, 200, 200);
}
.RECIPES_CONTEINER {

}