.recipe-conteiner {
    border: solid black ;
}

.card {
    display: flex;
    margin: 2rem 1rem 2rem
}

.SCORE_Y_DIETS {
    display: flex;
    justify-content: space-around;
}

.Link {
    text-decoration: none;
    color: black;
}

.image {
    max-width: 300px;
    max-height: 400px;
}